body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #455063;
    color: burlywood;
    font-family: 'Crimson Text', serif;
}
.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
}
.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header" 
        "sidebar main main main";
    height: 100vh;
}
.header{
    grid-area: header;
    height: 70px;
    background-color: #1e2f97;
    color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);

}
.menu-icon{
    display: none;
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: burlywood;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}
.sidebar-title > span {
    display: none;
}
.sidebar-brand{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-list-item{
    padding:  20px 20px 20px 20px;
}
.sidebar-list-item:hover{
    background-color: grey;
    cursor: pointer;
}
.sidebar-responsive{
    display: inline !important;
    position: absolute;

}
a{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
}
.main-container{
    grid-area: main;
    text-align: center;
    overflow-y: auto;
    padding: 20px 20px;
}
.main-title{
    font-size: larger;
    margin-bottom: 80px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    grid-auto-rows: minmax(100px, auto);
}
img{
    width: 400px;
}
.main-text{
    font-size: larger;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.main-link{
    font-size: larger;
}

